@font-face {
  font-family: "SuisseIntl-SemiBold", "WulkanDisplay-SemiBoldItalic", "SuisseIntl-Regular";
  src: url("fonts/SuisseIntl-SemiBold.woff") format("woff");
  src: url("fonts/WulkanDisplay-SemiBoldItalic.woff") format("woff");
  src: url("fonts/SuisseIntl-Regular.woff") format("woff");
}
p,
h1 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: SuisseIntl-SemiBold, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  outline: 2px solid red;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    background-image: linear-gradient(180deg, #00005a 0%, #005 100%);
    padding-bottom: 15px;
  }
  .box {
    background-image: url("../images/sky-mob1.png"), url("../images/gradient-mob1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top, left bottom;
    position: relative;
    padding-bottom: 9px;
  }
  .logo-icon {
    width: 158px;
    height: 52px;
    margin-bottom: 18px;
  }
  .title {
    font-weight: 600;
    font-size: 19px;
    line-height: 1.37;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    max-width: 230px;
    background: #ff267e;
    margin-left: 45px;
    margin-bottom: 13px;
  }
  .title span {
    font-family: "Wulkan Display", serif;
    font-style: italic;
    font-weight: 500;
  }
  .title-text {
    font-weight: 600;
    font-size: 31px;
    line-height: 1.21;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    max-width: 288px;
    margin-left: 16px;
    margin-bottom: 13px;
  }
  .title-text span {
    font-family: "Wulkan Display", serif;
    font-style: italic;
    font-weight: 500;
    color: #ff267e;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-bottom: 254px;
  }
  .text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    max-width: 94px;
  }
  .firework-one {
    position: absolute;
    top: 202px;
    animation: explosionone 7s infinite reverse;
  }
  @keyframes explosionone {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }
  .firework-two {
    position: absolute;
    top: 314px;
    left: 155px;
    animation: explosiontwo 5s infinite reverse;
  }
  @keyframes explosiontwo {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
    }
  }
  .flashlight {
    position: absolute;
    bottom: 125px;
    animation: wiggle 6s infinite reverse;
  }
  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .piramid {
    position: absolute;
    bottom: -1px;
  }
  .koala {
    position: absolute;
    top: 244px;
  }
  .icon-plus-circle {
    width: 30px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: #ff267e;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-plus-circle .icon-plus {
    width: 10px;
    height: 10px;
    fill: #fff;
  }
  .security {
    margin-left: 8px;
    position: relative;
    z-index: auto;
  }
  .icon-age-circle {
    width: 28px;
    height: 27px;
    border-radius: 100%;
    border: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
  }
  .icon-age-circle .icon-age {
    width: 15px;
    height: 11px;
    fill: none;
  }
  .license-img {
    width: 27px;
    height: 26px;
    margin-bottom: 5px;
  }
  .text-bottom {
    font-weight: 400;
    font-size: 6px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #e8e8e8;
    max-width: 60px;
  }
  .btn {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #005;
    cursor: pointer;
    padding: 12px 57px;
    border-radius: 4px;
    background: #05c489;
    border: none;
    display: block;
    margin: auto;
    margin-top: 11px;
  }
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-bottom: 16px;
  }
  .box {
    background-image: url("../images/sky-mob2.png"), url("../images/gradient-mob2.png");
    padding-bottom: 8px;
  }
  .logo-icon {
    width: 185px;
    height: 60px;
    margin-bottom: 21px;
  }
  .title {
    font-size: 23px;
    line-height: 1.39;
    max-width: 270px;
    margin-left: 54px;
    margin-bottom: 15px;
  }
  .title-text {
    font-size: 38px;
    line-height: 1.23;
    max-width: 340px;
    margin-left: 17.5px;
    margin-bottom: 12px;
  }
  .content {
    gap: 18px;
    margin-bottom: 303px;
  }
  .text {
    font-size: 17px;
    max-width: 113px;
  }
  .icon-plus-circle {
    width: 35px;
    height: 28px;
  }
  .icon-plus-circle .icon-plus {
    width: 12px;
    height: 12px;
  }
  .firework-one {
    top: 245px;
    width: 105px;
  }
  .firework-two {
    top: 377px;
    left: 178px;
    width: 196px;
  }
  .flashlight {
    bottom: 125px;
    left: -5px;
    width: 367px;
  }
  .piramid {
    position: absolute;
    bottom: -1px;
    width: 375px;
  }
  .koala {
    position: absolute;
    top: 305px;
    width: 245px;
  }
  .icon-age-circle {
    width: 32px;
    height: 30px;
    border-radius: 100%;
    margin-bottom: 7px;
  }
  .icon-age-circle .icon-age {
    width: 17px;
    height: 12px;
  }
  .license-img {
    width: 30px;
    height: 30px;
  }
  .text-bottom {
    font-size: 7px;
    line-height: 1.2;
    max-width: 68px;
  }
  .btn {
    font-size: 18px;
    padding: 15px 70px;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 14px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-bottom: 0px;
  }
  .logo-icon {
    width: 278px;
    height: 90px;
    margin-bottom: 0px;
  }
  .section-top {
    margin: 0 auto;
  }
  .title {
    font-size: 23px;
    line-height: 1.39;
    max-width: 270px;
    margin-left: 54px;
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=style.css.map */